<table>
  <tr>
    <th>Selecione</th>

    <th>Opções</th>
  </tr>
  <tr *ngFor="let item of list, index as i">
    <td>
      <a [routerLink]="['/list', i]">{{ item.id }}</a>
    </td>
    <td>{{ item.text }}</td>
  </tr>
</table>

<table>
  <tr>
    <th>Código</th>
    <th>Nome</th>
    <th>Dia da semana</th>
    <th>Horário</th>
  </tr>
  <tr>
    <td>ISW012</td>
    <td>Flutter</td>
    <td>Segunda-Feira</td>
    <td>19h00 | 22h30</td>
  </tr>
  <tr>
    <td>ITE004</td>
    <td>Angular</td>
    <td>Sexta-Feira</td>
    <td>19h00 | 22h30</td>
  </tr>
</table>
